ul.menu.top
    li
        input.search-btn(type="text")
        img(src='./images/icon_search.png')
    li
        include switch-btn.pug
    li
        a(href="#") English
    li
        a(href="#") 中 文
        